<div class="page-header">
  <div class="btn-group pull-right">
    <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-info' %>
  </div><!--// .btn-group pull-right -->
  
  <h2>New <%= singular_table_name %></h2>
</div><!--// .page-header -->

<%%= render 'form' %>